<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Utlity.Properties.Settings.PokerConnectionString"
            connectionString="Data Source=SS_EQUALIZER\SENSOURCE2010;Initial Catalog=Poker;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>